body 
{
    text-align: center;  
    font-style: italic;
    margin-top: 0; 
    margin-bottom: 5px;
    color: #000000; 
    
    background-image: url(../pagindex/fon2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;

}
        /*up input*/
.topbutton {
    width:100px;
    border:2px solid #ccc;
    background-image: linear-gradient(to bottom right, yellow, purple);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

/*стиль кнопки*/
.knopka { 
  cursor:pointer;
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: linear-gradient(#00CED1, #FFB6C1);
  box-shadow: 3px 3px 10px 5px #00FF7F;
}

/*Убирает главное изображение на телефонах*/
.hide-on-mobile { display: inline; }
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ .hide-on-mobile { display: none; }
}
/*Bootstrap*/
.logo {
    max-width: 90%;
    height: auto;
}

nav a
{
    padding: 4px 15px;  
    font-size: 20px; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    width: 120px;  
    text-decoration: none; 
    background: #FFB6C1; 
    color: #3f3f3f; 
}
img
{
    padding-top: 15px;
}

h1 {
    text-align: center;
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    padding-top: 15px;
}
 h2 {
    margin: 1em 0 0.5em 0;
    color: #6A5ACD;
    font-size: 26px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

p { 
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 100%; 
}
 
A:visited { 
    text-decoration: none;
    color: black;
} 
A:active { 
    text-decoration: none; 
    color: black;
}
A:hover {
    text-decoration: none; 
    color: black; 
   }
/*отзыв*/
textarea, input
{
    text-align: center;
    background: rgba(255, 255, 255, 0.4); 
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
}
input:focus {
    border-color: blue;
}
textarea:focus {
    border-color: blue;
}
/*убирает маркеры*/
ol
{
  list-style-type: none; 
}

/*delete img (in map)*/
@media screen and (max-width: 380px) {
    .img-mesta {
        display: none;
    }
}

@media screen and (min-width: 380px) {
    .img-map2 {
        display: none;
        width: 100%;
    }
}

/*add text in history*/
@media screen and (min-width: 560px) {
    .history-h1 {
        display: none;
    }
 /*style heroes*/
li:nth-child(1) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
li:nth-child(2) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
li:nth-child(3) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
li:nth-child(4) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
li:nth-child(5) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
li:nth-child(6) a {
    font-size: 1.3em;
    color: #800080;
    text-decoration: none;
}
a {
    text-decoration: none;
    }
    
    /*кнопка-ссылка*/
.knopka_hover {
  color: #E7E5DD;
  border-radius: 25px;
  border: 3px solid #E7E5DD;
}
.knopka_hover:hover {
  color: #BDB9AB;
  background: #E7E5DD;
}
.knopka_hover span {
  opacity: 0;
  padding-left: 5px; 
  padding-right: 5px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.knopka_hover:hover span {
  opacity: 1;
  padding-left: 10px; 
  padding-right: 10px;
  color: #BDB9AB;
}






