.logo_flex {
     width: 100%;
	 height: 148px;
	 margin: 0 auto;
	 display: inline-block;
}

 /*убрали главное изображение на маленьких экранах*/
.img_flex { display: inline; }
    @media only screen
    and (max-device-width : 1080px){ .img_flex { display: none; }
            
            /*кадры*/
.kadr_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

            /*Menu*/
.nav_flex {
	display: flex;
	justify-content: center;
}

/* меньше 800px */
@media all and (max-width: 800px) {
	.nav_flex { justify-content: space-around; }
	.nav_flex a{ flex-grow:1; }
}

/* меньше 500px */
@media all and (max-width: 500px) {
	.nav_flex { flex-direction: column; }
}
                /*описание*/
.opisanie_flex{
	display: flex;
	flex-wrap: wrap;
}

.item{
	flex:1 1 calc(33.33% - 30px); 
	margin:5px;
	min-width:300px; 
}









